.main{
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    overflow: hidden;
    &:hover{
        .wechat{
            width: 155px;

            &-detail{
                animation-name: color-change;
                animation-duration: 5s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }
        }

        .logo{
            transform: rotate(1turn);
        }
    }
}

@keyframes color-change{
    0%{
        color:#a8edea;
    }

    25%{
        color: #e0c3fc;
    }

    50%{
        color: #96fbc4;
    }

    75%{
        color: #fda085;
    }

    100%{
        color: #5ee7df;
    }
}

.logo {
    width: 56px;
    height: 56px;
    border-radius: 56px;
    border: 4px solid #35b2c0;
    cursor: pointer;
    transition-duration: 2s;
}

.wechat{
    width: 0px;
    color: #ffff;
    margin-left: 8px;
    cursor: pointer;
    transition-duration: 2s;
    font-weight: bold;

    &-detail{
        font-weight: normal;
    }
}
